---
import Layout from "../layouts/Layout.astro";
import SantaSwiperReact from "../components/Swiper";
---

<Layout title="Santa's Naughty or Nice Decider">
  <main
    class="flex flex-col justify-center items-center bg-gradient-to-b from-red-100 to-green-100 p-4 min-h-screen"
  >
    <SantaSwiperReact client:load />
  </main>
</Layout>
